<div class="k-block">
  <button kendoButton [look]="'default'">Default Button</button>
  <button kendoButton [look]="'outline'">Outline Button</button>
  <button kendoButton [look]="'bare'">Bare Button</button>
  <button kendoButton [disabled]="true">Default Button</button>
</div>

<button kendoButton [primary]="true">Primary action</button>
<button kendoButton [togglable]="true">Toggleable</button>

<kendo-buttongroup [width]="100" [look]="'outline'">
  <button kendoButton [icon]="'calendar'">Icon button</button>
  <button kendoButton [icon]="'user'">Icon button</button>
  <button kendoButton [icon]="'check'">Icon button</button>
</kendo-buttongroup>
